{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Task.css' %}">
    <script src="{% static 'js/Taskify.js' %}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <title>Taskify by Ruby</title>
</head>
<body>
    <!-- Navigation Bar -->
    <div class="nav">
        <!-- Navigation Header -->
        <header class="header">TASKIFY BY RUBY</header>

        <!-- Hamburger Menu -->
        <label class="hamburger" aria-label="Toggle navigation menu">
            <input type="checkbox" aria-hidden="true" id="menu-toggle">
            <svg viewBox="0 0 32 32">
                <path 
                    class="line line-top-bottom" 
                    d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                </path>
                <path class="line" d="M7 16 27 16"></path>
            </svg>
        </label>
    </div> <!-- End of Navigation Bar -->
</body>
</html>